
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="{% static "style.css" %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>
<body>
<header class="header">  
<div class=" text-overlay text-center" style="font-family: Arial,serif;font-size:16px;font-style:oblique;"><br><br>
      

      <h1>SMART MANHOLE SYSTEM</h1>
      <br><br>     
      
      <div class="container">
        <div class="row">
          <div class=" text-center col-md-6" style="font-family: Arial,serif;font-size:16px;font-style:oblique;">
            <h2> Student Name</h2>
            <h5><p>Amulya PS</p>
            <p>K Chandanashree</p>
            <p>Kusuma BS</p></h5>
          </div> 
          <div class="text-center col-md-6">
            <h2>USN</h2>
           <h5> <p>4GW15CS004</p>
            <p>4GW15CS037</p>
           <p>4GW15CS041</p></h5>
          </div>


            <br><br><br><br><br><br><br><br><br><br><br>

  
          <div class="container" style="font-family: Arial,serif;font-size:16px;font-style:oblique;">
            <div class="row">
              <div class="text-center col-sm-4"> 
                <h2>Guide</h2>
                <h5><p>Dr.Nanda kumar AN</p>
                <p>MITE College</p>
                <p>Manglore</p></h5>
              </div>
              <div class="text-center col-sm-4">
                <h2>HOD</h2>
                <h5><p>Dr.S Meenakshi Sundaram</p>
                  <p>MITE College</p>
                <p>Manglore</p>
                </h5>
              </div>
              <div class="text-center col-sm-4">
                <h2>Principal</h2>        
               <h5> <p>Dr.Shivakumar M</p>
               <p>MITE College</p>
                <p>Manglore</p></h5>
              </div>
            </div>
          </div>  </div>

        </div><br><br>
      
      <div class="text-center">
<p><a href="{% url "manhole:dashboard" %}"><b>NEXT</b></a></p>
</div></div></p>
</header>
</body>
</html>
